header {
    background-color: white;
    color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    display: flex;
    align-items: center;
}

.logo {
    background-image: url('../images/logo.png'); /* Path to your logo image */
    background-size: contain;
    background-repeat: no-repeat;
    height: 30px;
    width: 100px; /* Adjust according to your logo dimensions */
    margin-left: 20px;
}
